TMDB_API_KEY=your_tmdb_api_key_here


# Command to run via docker
# docker run   --env-file /home/seans/becode/projects/movie-recommendation-pyspark/.env   -p 8501:8501   seanstech/movie-recommendation-pyspark:latest